<div>
    <div class="col-xs-12">

        <div class="text-center">
            <p class="display-3"> HALMA </p> 
        </div>

        <table class="mx-auto">
            <tr *ngFor="let x of boardIterate; let i=index">
                <td *ngFor="let y of boardIterate; let j=index"> 
                    <button [ngClass]='{ "tile-button": true, 
                                         "normal-bg": !highlighted[i][j] && !home_camp[i][j],
                                         "home-camp-bg": home_camp[i][j],
                                         "highlighted": highlighted[i][j],
                                         "button-dim": true}' 
                                         
                                         (click)="buttonOnClick(i, j)">
                        
                                         <div [ngClass]="{   'black-pawn': board[i][j] == 'B', 
                                            'white-pawn': board[i][j] == 'W',
                                            'no-pawn': board[i][j] == '.',
                                            'mx-2': true,
                                            'my-2': true}">
                                        <p class="transparent"> OO </p>
                        </div>
                        
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>
