.transparent {
    color: transparent;
}

button.tile-button {
    border: none;
    outline: none;
    
}

.normal-bg {
    background-color:#e0ca65;
}

.highlighted {
    background-color:#cf7124;
}

.black-pawn {
    border-radius: 50%;
    background-color: black;
}

.white-pawn {
    border-radius: 50%;
    background-color: white;
}