.transparent {
    color: transparent;
}

button.tile-button {
    border: none;
    outline: none;
    width: 100%;
    
}

.button-dim {
    height: 50px;
    width: 50px;
}

.home-camp-bg {
    background-color: #C6B59B
}

.normal-bg {
    background-color:#DCC289
}

.highlighted {
    background-color:#788D7A
}

.black-pawn {
    border-radius: 50%;
    background-color: black;
}

.white-pawn {
    border-radius: 50%;
    background-color: white;
}

.no-pawn {
    border-radius: 50%;
    background-color:transparent;
}